<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <script type="module" src="../scripts/app.index.ts" defer></script>
    <title>Login</title>
</head>
<body>
    <div id="login-box">
        <h3>Log in</h3>
        <form id="login-form" onsubmit="return false">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" class="input-field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="input-field">
            <div class="btn-box">
                <button class="cancel-btn">cancel</button>
                <input type="submit" value="Log in" class="cta-btn">
            </div>
        </form> 
    </div>
</body>
</html>