<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <script src="../scripts/app.index.ts" defer></script>
    <title>Defender</title>
</head>
<body>
    <div class="form-box">
        <div class="box-header">
            <h3>Sign up</h3>
            <button class='register-link cancel-btn'>or Sign in</button>
        </div>
        <p class="title-description">Join us and get access to the game, statistics, leaderboard and more !</p>
        <form id="reg-form" onsubmit="return false">
            <label for="username">Username</label>
            <input type="text" class="input-field" name="username" required>
            <label for="email">Email</label>
            <input type="text" class="input-field" name="email" required>
            <label for="password">Password</label>
            <input type="password" class="input-field" name="password" required>   
            <label for="fisrtname">First name</label>
            <input type="text" class="input-field flex-50" name="firstname" >  
            <label for="lastname">Last name</label>
            <input type="text" class="input-field flex-50" name="lastname"  >        
            <div class="form-buttons">
                <button class='cancel-btn'>Cancel</button>
                <input type="submit" class='cta-link' value="register" >       
            </div>
                
            
           
        </form>
    </div>
</body>
</html>