<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href=# id="logo-link">
            <div id="logo">
                <p class="logo-light">mini</p>
                <p class="logo-bold">PLAY</p>
            </div>
        </a>
        <ul>
            <li>
                <a href=#>games</a>
            </li>
            <li>
                <a href=#>userName</a>
            </li>
        </ul>
        <a href=# class="right-nav register-link hidden">Sign Up</a>
        <a href=# class="right-nav cta-link hidden">Sign In</a>
        <a href=# class="right-nav register-link">Disconnect</a>
    </nav>
    <div id="container">
        <div class="nav-left">
            <ul class="url-list">
                <a href=# ><li>Statistique</li></a>
                <a href=# ><li>Paramètres</li></a>
            </ul>
        </div>
        <div class="main-content">
            <div id="statistics">
                
            </div>
        </div>
    </div>
</body>
</html>