<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/app.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href=# id="logo-link">
            <div id="logo">
                <p class="logo-light">mini</p>
                <p class="logo-bold">PLAY</p>
            </div>
        </a>
        <ul>
            <li>
                <a href=#>games</a>
            </li>
            <li>
                <a href=#>userName</a>
            </li>
        </ul>
        <a href=# class="right-nav register-link">Sign Up</a>
        <a href=# class="right-nav cta-link">Sign In</a>
    </nav>
</body>
</html>