html{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-size : 16;
}

body{
    margin : 0;
    background-color:#A1CCA5;
}

canvas{
    height : calc(100vh/1,777777778);
    width:100vw;
    display:block;
    position:absolute;
    top:0;
    left :0;
}
