@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

html{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-size : 16;
    font-family: 'Khula', sans-serif;
    color:#a3aaa2;
}

body{
    margin : 0;
    height:100vh;
    background: linear-gradient(-45deg,  rgb(24, 24, 24) , rgb(32, 32, 32));
}

*, *:before, *:after{
    margin:0;
    padding : 0;
    box-sizing: inherit;
}

canvas{
    height : calc(100vh/1,777777778);
    width:100vw;
    display:block;
    position:absolute;
    top:0;
    left :0;
}
a{
    color:inherit;
    text-decoration: none;
}
nav{
    margin : 0 auto;
    width:100%;
    display:flex;
    align-items:center;
    padding : 2rem 3rem 1.5rem 3rem;
    position:relative;
    /* box-shadow: 0 0 10px rgba(240, 240, 240, 0.2); */
}

nav ul{
    display : flex;
    justify-content: flex-end;
    padding-right:5rem;
    list-style: none;
    flex-grow: 2;
}
nav ul li{
    margin : 0 2rem;
}
nav ul li:hover{
    color:white;
    transition: color 0.1s ease-in;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-light{
    /* text-align: center; */
    line-height: 0.5;
    font-weight:200;
    font-size:1.5rem;
    border-bottom: 3px solid #ceff1a;
    transform: rotateZ(-90deg);
    margin-bottom:1rem;
}
.logo-bold{
    margin-left:-10px;
    vertical-align: middle;
    line-height: 0.9;
    font-size:4rem;
    letter-spacing: 0.25rem;
    color : transparent;
    -webkit-text-stroke: 0.5px #ceff1a;
    transition:color 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}
.logo-bold:hover{
    margin-left:-5px;
    color : #ceff1a;
}


.right-nav{
    flex-grow: 0.05;
    text-align: center;
}
.hidden{
    display:none;
}
#container{
    width:100vw;
    height:calc(100vh - 7.1rem);
    display:flex;
}
.center-container{
    width:70vw;
    margin:0 auto;
}
.nav-left{
    width:20vw;
    color:#4DA8DA;
}
.main-content{
    width:80vw;
}
.flex-50{
    flex-grow: 1;
}
.spacing-lft{
    margin-left:0.7rem;
}

.file-field{
    padding:0.3rem;
    margin-bottom:0.7rem;
}
.file-label{
    margin-left: 0.3rem;
}
.title-description{
    font-size:1rem;
    line-height: 1.5;
    font-style: italic;
    margin-bottom:2rem;
    font-weight: 200;
    text-align: left;
}
.form-buttons{
    display:flex;
    justify-content: flex-end;
    margin-top:1.5rem;
    margin-right: 1.5rem;
}

.form-buttons button:hover, input:hover{
    cursor: pointer;
}

.file-div{
     display: flex;
     flex-direction: column;
}
.blur-content{
    filter:blur(5px);
}
.darker-page{
    height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(23, 23, 23, 0.3);
}
#reg-div{
    background-color: #569bc9;
    max-width:calc((70vw/3)*2);
    padding : 2rem;
    padding-bottom: 4rem;
    margin : 10rem auto;
    border-radius: 1rem;
    filter:drop-shadow(0 0  5px #282633);
}

#reg-div h3{
    font-size : 2rem;
    margin-bottom: 1.7rem;
    font-weight: 600;
    text-align: center;
    position: relative;
}
#reg-div h3:after{
   content : "";
   width:90%;
   height:2px;
   background-color: white;
   position:absolute;
   left:5%;
   bottom:-1rem;
}
#user-pic{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top:2rem;
}

#reg-form{
    display:flex;
    flex-direction: column;
}
#user-names{
    display: flex;
}

#profile-picture{
    width:5rem;
    height:5rem;
    margin-right:2rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.5);
}



.form-box{
    margin: 15rem auto;
    border-radius: 0.7rem;
    padding : 2rem 3rem 4rem 3rem;
    max-width:30vw;
    background-color: rgba(87, 87, 87, 0.3);
    color:rgba(240, 240, 240, 0.5);
}

#login-form{
    display:flex;
    flex-direction: column;
}
.form-box h3{
    
    font-size:1.7rem;
    position: relative;
}
.box-header{
    display:flex;
    justify-content: space-between;
    padding-bottom:0.5rem;
    margin-bottom:2rem;
    position: relative;
}
.box-header:after{
    content : "";
    width:100%;
    height:1px;
    background-color:rgba(240, 240, 240, 0.5);
    position : absolute;
    left:0;
    bottom:0;
}
.register-link{
    cursor: pointer;
    /* color:#4DA8DA !important; */
    font-size: 1rem;
    transition: color 0.2s ease-in;
}
.register-link:hover{
    cursor: pointer;
    color:#ceff1a !important;
}
label{
    font-size : 0.7rem;
}

input{
    padding : 0.5rem 1rem;
    border:none;
    background-color: transparent;
    position:relative;
}
.input-field{
    position:relative;
    background-color: transparent;
    border-bottom :rgba(240, 240, 240, 0.5) 5px solid;
    margin-bottom:20px;
    color:white;
}
.input-field:focus{
    outline:0;
    background-color: #cdff1a1a;
}
.btn-box{
    align-self: flex-end;
}
.cancel-btn{
    background: transparent;
    border:none;
    color : #203647;
}
.cta-btn{
    background-color :#4DA8DA;
    color : white;
    padding : 0.8rem 1.6rem;
    border-radius: 0.5rem;
    margin-left:2rem;
}
.cta-link{
    background-color :transparent;
    color : #ceff1a;
    border-radius: 2rem;
    border:2px solid #ceff1a;
    padding : 0.5rem 2rem;
    margin-left:2rem;
    font-weight:600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.cta-link:hover{
    background-color :#ceff1a;
    color : rgb(32, 32, 32);
}
.url-list{
    height: 100%;
    padding:1 rem 0;
    list-style: none;
}
.url-list li{
    color:rgba(240, 240, 240, 0.5);
    padding:0.5rem 3rem;
    border-bottom: 1px solid rgba(240, 240, 240, 0.5);
}
.url-list li:hover{
    color:#ceff1a;
    background-color: rgba(240, 240, 240, 0.2);
    transition: background-color 1s ease-out;
}


/* STATISTIQUES  */

#statistics{
    width: calc((80vw*90)/100);
    height: calc(((45vw*90)/100));
    margin:0 auto;
    border-radius: 1rem;
    background-color: rgba(240, 240, 240, 0.1);
}

/* HOMEPAGE */
#illustration-home{
    position:absolute;
    width:70vh;
    bottom:0;
    margin:0 20vw;
}
h1{
    width:30vw;
    font-size:1.2rem;
    line-height: 1.2;
    font-weight: 400;
    padding-top:2rem;
    color:#ceff1a;
}
#eye-catcher{
    padding-top:4rem;
    font-size:2rem;
    font-weight:600;
    line-height:1.5;
}
.cta-box{
    padding-top:4rem;
    width:15vw;
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
}

.cta-box a{
    margin:0  0 1rem 0 !important;
}